:root {
    --teal: #006C67;
    --cream: #FFFDD0;
    --black: #000000;
    --off-white: #F4FDFF;
    --gray: #BEBEBE;
}

#theme-toggle {
    margin-left: 1rem;
}

.light,
.light .navbar,
.light .hero {
    background-color: var(--cream) !important;
}

.dark,
.dark .navbar,
.dark .hero {
    background-color: var(--black) !important;
}

.dark a,
.dark h1 {
    color: var(--off-white);
}

.is-large {
    height: 100vh;
}

.navbar-item {
    display: flex;
}
  
.navbar,
.navbar-menu,
.navbar-start,
.navbar-end {
    align-items: stretch;
    display: flex;
    padding: 0;
}
  
.navbar-menu{
    flex-grow: 1;
    flex-shrink: 0;
}

.navbar-start{
    justify-content: flex-start;
    margin-right: auto;
}

.navbar-end{
    justify-content: flex-end;
    margin-left: auto;
}

#journal-entry {
    background-color: var(--cream);
    color: var(--black);
  }

#journal-entry:hover {
    transform: scale(1.02);
    -webkit-box-shadow: 3px 3px 14px 0px rgba(0,108,103,1);
    -moz-box-shadow: 3px 3px 14px 0px rgba(0,108,103,1);
    box-shadow: 3px 3px 14px 0px rgba(0,108,103,1);

  }

.card {
    max-width: 375px !important;
}

@media only screen and (max-width: 1024px) {
    .navbar-end {
        display: none;
    }
}