:root {
    --teal: #006C67;
    --cream: #FFFDD0;
    --black: #000000;
    --off-white: #F4FDFF;
    --gray: #BEBEBE;
}

@media only screen and (max-width: 1024px) {
    .navbar-end {
        display: none;
    }
}

.is-large {
    height: 100vh;
}

.navbar-item {
    display: flex;
}
  
  .navbar,
  .navbar-menu,
  .navbar-start,
  .navbar-end {
    align-items: stretch;
    display: flex;
    padding: 0;
}
  
.navbar-menu{
    flex-grow: 1;
    flex-shrink: 0;
}

.navbar-start{
    justify-content: flex-start;
    margin-right: auto;
}

.navbar-end{
    justify-content: flex-end;
    margin-left: auto;
}

/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #map {
    height:100%;
  }
  
  /* 
   * Optional: Makes the sample page fill the window. 
   */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  #journal-entry {
    background-color: var(--cream);
    color: var(--black);
  }

  #journal-entry:hover {
    transform: scale(1.02);
    -webkit-box-shadow: 3px 3px 14px 0px rgba(0,108,103,1);
    -moz-box-shadow: 3px 3px 14px 0px rgba(0,108,103,1);
    box-shadow: 3px 3px 14px 0px rgba(0,108,103,1);

  }